*
{
	padding: 0;
	margin: 0;
}

.wrap
{
	min-width: auto;
	width: 100%;
	height: auto;
	background-color: #282828;
}

.header
{
	width: 100%;
	height: 500px;
	background-image: url("../image/Layer 19.png");
	background-size: cover;
}

.menu
{
	
	float: right;
	margin-top: 10px;
	cursor: default;
}

.menu ul
{
	margin-top: 20px;
	float: left;
}

.menu ul li
{
	text-align: center;
	font-size: 20px;
	margin-left: 10px;
	cursor: default;
	color: black;
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
}

.menu ul li:hover
{
	text-decoration: underline 2px;
}

.search
{ 
	float: left;
	margin-top: 16px;
	margin-left: 20px;
	padding-right: 20px;

}

.search input
{
	padding-left: 45px;
	height: 30px;
	width: 220px;
	border-radius: 25px;
	border: 0;
}

.search input:focus
{
	outline: none;
}

.headerText
{
	margin-left: 5%;
	color: #FFFFFF;
	font-size: 20px;
	padding-top: 300px;
}

.headerText p
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.headerText a
{
	color: white;
	font-size: 18px;
	text-align: center;
	border: solid 1px white;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.content
{
	box-sizing: border-box;
	width: 61%;
	height: auto;
	margin-left: 3%;
	display: inline-block;
	margin-right: 1%;
	margin-top: 1%;
	vertical-align: top;
}

.sitebar
{
	box-sizing: border-box;
	width: 31%;
	height: auto;
	margin-right: 3%;
 	display: inline-block;
 	margin-top: 1%;
 	vertical-align: top;
}

.a1
{
	box-sizing: border-box;
	width: 100%;
	height: 230px;
	background-color: white;
	padding-bottom: 20px;
	border: solid 1px #CCCCCC;
}

.photo1
{
	height: 175px;
	width: 175px;
	float: right;
	margin-top: -150px;
	background-image: url("../image/Слой 1.png");
	background-size: cover;
	margin-right: 20px;
}


.a11
{
	width: 100%;
	height: 20px;
	background-color: #3d3c3c;
	padding-top: 20px;
}

.a1 ul li
{
	margin-left: 4%;
	margin-right: 15px;
	font-size: 15px;
	cursor: default;
	color: #CCCCCC;
	display: inline;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.a1 ul li:hover
{
	background-color: #FFFFFF;
	color: #000000;
	transition: all 0.5s ease;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.a1 p
{
	margin-top: 5%;
	margin-left: 10%;
	color: #FF0066;
	padding-bottom: 20px;
}

.a1 a
{
	color: #FF0066;
	text-align: center;
	border: solid 1px #FF0066;
	text-decoration: none;
	margin-left: 10%;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.label
{
	height: 25px;
	width: 220px;
	margin-top: 3%;
	margin-left: 3%;
	background-color: #FF0066;
}

.label p
{
	color: white;
	font-size: 20px;
	margin: -10px;
	text-align: center;
}

.a2
{
	box-sizing: border-box;
	width: 49.5%;
	height: 340px;
	border: solid 1px #CCCCCC;
	margin-top: 1%;
	float: left;
}

.a2 img
{
	width: 100%;
	position: relative;
	top: -338px;
	z-index:2;
}

.a21
{
	z-index: 3;
	height: 30px;
	width: 120px;
	background-color: #009900;
	margin-left: 40px;
	position: relative;
}

.a21 p
{
	color: white;
	text-align: center;
	font-size: 20px;
	padding-top: 2.5px;
	font-weight: bold;
}

.a22
{
	height: 108px;
	background-color: white;
	margin-top: 140px;
	position: relative;
	z-index: 3;
}

.a22 p
{
	color: #666666;
	margin-left: 40px;
	size: 5px;
	margin-top: 10px;
}

.a22 h2
{
	color: #666666;
	margin-left: 40px;
	size: 6px;
	margin-top: 10px;
}

.a23
{
	height: 60px;
	background-color: #3d3c3c;
	z-index: 2;
}

.bubble1
{
border: solid 1px white;
text-decoration: none;
height: 25px;
width: 60px;
float: left;
margin-top: 20px;
margin-left: 40px;
display: flex;
justify-content: center;
align-items: center;
}

.bg
{
	height: 16px;
	width: 19px;
	background-image: url("../image/bubble1.png");
}

.a23 a
{
	color: white;
	font-size: 18px;
	text-align: center;
	border: solid 1px white;
	text-decoration: none;
	margin-left: 40px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	float: left;
	margin-top: 20px;
}

.a3
{
	box-sizing: border-box;
	width: 49.5%;
	height: 607px;
	border: solid 1px #CCCCCC;
	margin-top: 1%;
	float: right;
}

.a3 img
{
	width: 100%;
	position: relative;
	top: -605px;
	z-index:1;
}

.a31
{
	height: 30px;
	width: 120px;
	background-color: #FF9933;
	margin-left: 40px;
	position: relative;
	z-index: 2;
}

.a31 p
{
	color: white;
	text-align: center;
	font-size: 20px;
	padding-top: 2.5px;
	font-weight: bold;
}

.a32
{
	height: 115px;
	background-color: white;
	margin-top: 400px;
	position: relative;
	z-index: 2;
}

.a32 p
{
	color: #666666;
	margin-left: 40px;
	size: 5px;
	margin-top: 10px;
}

.a32 h2
{
	color: #666666;
	margin-left: 40px;
	size: 6px;
	margin-top: 10px;
}

.a33
{
	height: 60px;
	background-color: #3d3c3c;
	z-index: 2;
}

.a33 a
{
	color: white;
	font-size: 18px;
	text-align: center;
	border: solid 1px white;
	text-decoration: none;
	margin-left: 40px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	float: left;
	margin-top: 20px;
}

.a4
{
	box-sizing: border-box;
	width: 49.5%;
	height: 526px;
	border: solid 1px #CCCCCC;
	margin-top: 1%;
	float: left;
	background-image: url("../image/Layer 18.png");
	background-size: cover;
}

.a41
{
	height: 30px;
	width: 180px;
	background-color: #8598a0;
	margin-left: 40px;
}

.a41 p
{
	color: white;
	text-align: center;
	font-size: 20px;
	padding-top: 2.5px;
	font-weight: bold;
}

.a42
{
	background-color: rgba(0,0,0, 0.5);
	width: 100%;
	height: 94px;
}

.a42 p
{
	color: white;
	margin-left: 40px;
	margin-top: 400px;
	font-size: 20px;
}

.a5
{
	box-sizing: border-box;
	width: 49.5%;
	height: 259px;
	border: solid 1px #CCCCCC;
	margin-top: 1%;
	float: right;
	background-color: white;
}

.a51
{
	z-index: 2;
	height: 30px;
	width: 120px;
	background-color: #009900;
	margin-left: 40px;
	position: relative;
}

.a51 p
{
	color: white;
	text-align: center;
	font-size: 20px;
	padding-top: 2.5px;
	font-weight: bold;
}

.a52 p
{
	color: #666666;
	margin-left: 40px;
	size: 5px;
	margin-top: 10px;
}

.a52 h2
{
	color: #666666;
	margin-left: 40px;
	size: 6px;
	margin-top: 10px;
}

.a53
{
	height: 60px;
	background-color: #3d3c3c;
	z-index: 2;
	margin-top: 12px;
}

.a53 a
{
	color: white;
	font-size: 18px;
	text-align: center;
	border: solid 1px white;
	text-decoration: none;
	margin-left: 40px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	float: left;
	margin-top: 20px;
}

.footer
{
	height: 73px;
	width: 100%;
	background-color: #282828;
}

.b1
{
	box-sizing: border-box;
	width: 100%;
	height: 460px;
	border: solid 1px #CCCCCC;
	background-color: white;
}


.TR
{
	width: 40%;
}

.TR:hover, .ED:hover
{
	background-color: #FFFFFF;
	color: #000000;
	transition: all 0.5s ease;
	padding-top: 20px;
}

.ED
{
	width: 60%;
}

.ED, .TR
{
	box-sizing: border-box;
	height: 40px;
	background-color: #3d3c3c;
	float: left;
	text-align: center;
	padding-top: 20px;
	color: #CCCCCC;
	cursor: default;
}

.b2
{
	box-sizing: border-box;
	width: 100%;
	height: 450px;
	border: solid 1px #CCCCCC;
	margin-top: 2%;
	background-color: white;
}

.WE
{
	box-sizing: border-box;
	height: 40px;
	background-color: #3d3c3c;
	text-align: center;
	padding-top: 20px;
	color: #CCCCCC;
	cursor: default;
}

.b3
{
	box-sizing: border-box;
	width: 100%;
	height: 280px;
	border: solid 1px #CCCCCC;
	margin-top: 2%;
	background-color: white;
}

.PH
{
	box-sizing: border-box;
	height: 40px;
	background-color: #3d3c3c;
	text-align: center;
	padding-top: 20px;
	color: #CCCCCC;
	cursor: default;
}

.masonry
{
	padding-top: 5px;
	background-size: cover;
}

#m-booked-bl-simple-week-vertical-99190
{
	margin-top: 50px;
}

.ab4
{
	background-color: #3d3c3c;
	width: 100%;
	height: 85px;
	float: left;
	margin-top: 1%;
}

.ab4 p
{
	color: white;
	text-align: center;
	font-size: 20px;
	padding-top: 32.5px;
	font-weight: bold;
	width: 200px;
	float: left;
	
}

.LM p
{
	height: 40px;
	width: 40px;
	margin-left: 270px;
}

.fs 
{
	width: 100%;
	margin-top: 40px;
}

.fs ul li
{
	margin-left: 4%;
	margin-right: 15px;
	font-size: 18px;
	cursor: default;
	color: #CCCCCC;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 15px;
	padding-top: 20px;
	list-style: none;
}

@media all and (max-width: 1200px)
{
	.logo
	{
		height: 500px;
	}
}

@media all and (max-width: 1024px)
{
	.logo
	{
		height: 400px;
	}
}

@media all and (max-width: 720px)
{
	.logo
	{
		height: 300px;
	}
}

@media all and (max-width: 1200px)
{
	.headerText 
	{
		font-size: 17px;
	}
}

